@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.bg-fondo{
    background: #005D9D;
}

.bg-cartas{
    background: #E2F3FB;
}

.bg-contenidocartas{
    background: #02B9F3;
}

.bg-contenidocarta{
    background: #93E1ED;
}

.bg-login{
    background-color: #02B9F3;
}

.bg-gradiente{
    background: linear-gradient(to right, #93E1ED, #02B9F3);
}

.centrar-texto{
    text-align: center;
}


.preloader img {
    border-radius: 0; /* Elimina el borde redondeado */
    box-shadow: none; /* Elimina cualquier sombra */
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px; /* Espacio entre los videos */
}

.content-wrapper {
    background-color: #f4f6f9;
    min-height: 100vh;
}



@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    }

    .video-container iframe {
        width: 100%;
        height: auto; /* Asegura que la altura se ajuste autom치ticamente */
        max-width: 90vw; /* Limita el ancho m치ximo para mantener un margen en pantallas muy peque침as */
    }
}


.tama침o_imagen_foro {
    width: 300px;
    height: 300px;
    object-fit:contain; /* Escala la imagen para llenar el contenedor */
    border-radius: 2px; /* Aplica bordes redondeados */
}
